In [1]:
import pandas as pd
import numpy as np
from shapely.geometry import Point, Polygon

In [2]:
d_aop = pd.read_pickle('./pickleJar/dfNomad_AOP.pkl')

In [3]:
dl = pd.read_pickle('./pickleJar/d_longhurst.pkl')

In [4]:
d_aop.head().T

,0,1,2,3,4
id,1565,1566,1567,1568,1559
datetime,2003-04-15 15:15:00,2003-04-15 16:50:00,2003-04-15 17:50:00,2003-04-17 18:15:00,2003-07-21 18:27:00
doy,105.875,106.5,106.542,108,203.2
lat,38.4279,38.368,38.3074,38.6367,38.3047
lon,-76.61,-76.5,-76.44,-76.32,-76.44
etopo2,0,0,1,3,1
bathymetry,-3.044,-10.44,-8.956,-10.008,-9.118
oisst,3.7,3.7,3.7,3.7,22.03
wtemp,NaN,NaN,NaN,NaN,NaN
woa_sst_mean,NaN,NaN,NaN,NaN,NaN
woa_sst_se,NaN,NaN,NaN,NaN,NaN
sal,NaN,NaN,NaN,NaN,NaN
woa_sal_mean,NaN,NaN,NaN,NaN,NaN
woa_sal_se,NaN,NaN,NaN,NaN,NaN
rrs411,0.0012044,0.00106171,0.000971132,0.0014718,0.000905091
rrs443,0.00168608,0.00138402,0.00118548,0.00174123,0.00102233
rrs489,0.00329309,0.00217292,0.0018432,0.00287731,0.00150593
rrs510,0.00403634,0.00249924,0.00228772,0.00366425,0.00190341
rrs555,0.00747919,0.00415208,0.00424561,0.0069817,0.00280069
rrs670,0.00346456,0.00169488,0.00161228,0.00323384,0.00179052
fluo_chl,38.19,35.01,26.91,47.96,23.55
hplc_chl,NaN,NaN,NaN,NaN,NaN
is_hplc,0,0,0,0,0
chl,38.19,35.01,26.91,47.96,23.55

In [5]:
dl.head()

,Biome,BiomCat,Province,ProvCode,ProvCat,coords
0,Coastal,0,Alaska Downwelling Coastal Province,ALSK,0,"[(-127.4999999999999, 50.58680189157428), (-12..."
1,Coastal,0,Australia-Indonesia Coastal Province,AUSW,1,"[(125.66080820729292, -14.61166092766527), (12..."
2,Coastal,0,Benguela Current Coastal Province,BENG,2,"[(11.716972846451625, -17.49999999999993), (11..."
3,Coastal,0,Brazil Current Coastal Province,BRAZ,3,"[(-33.49999999999994, -10.499999999999986), (-..."
4,Coastal,0,California Upwelling Coastal Province,CCAL,4,"[(-110.4999999999999, 24.500000000000142), (-1..."

In [6]:
d_aop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Data columns (total 24 columns):
id              4459 non-null object
datetime        4459 non-null datetime64[ns]
doy             4459 non-null float64
lat             4459 non-null float64
lon             4459 non-null float64
etopo2          4459 non-null float64
bathymetry      4459 non-null float64
oisst           4459 non-null float64
wtemp           1235 non-null float64
woa_sst_mean    2516 non-null float64
woa_sst_se      2516 non-null float64
sal             672 non-null float64
woa_sal_mean    2511 non-null float64
woa_sal_se      2511 non-null float64
rrs411          4293 non-null float64
rrs443          4456 non-null float64
rrs489          4422 non-null float64
rrs510          4207 non-null float64
rrs555          4453 non-null float64
rrs670          3905 non-null float64
fluo_chl        3392 non-null float64
hplc_chl        1381 non-null float64
is_hplc         4127 non-null float64
chl             4127 non-null float64
dtypes: datetime64[ns](1), float64(22), object(1)
memory usage: 836.1+ KB

In [7]:
dl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 6 columns):
Biome       54 non-null object
BiomCat     54 non-null int8
Province    54 non-null object
ProvCode    54 non-null object
ProvCat     54 non-null int64
coords      54 non-null object
dtypes: int64(1), int8(1), object(4)
memory usage: 2.2+ KB

In [8]:
dl

,Biome,BiomCat,Province,ProvCode,ProvCat,coords
0,Coastal,0,Alaska Downwelling Coastal Province,ALSK,0,"[(-127.4999999999999, 50.58680189157428), (-12..."
1,Coastal,0,Australia-Indonesia Coastal Province,AUSW,1,"[(125.66080820729292, -14.61166092766527), (12..."
2,Coastal,0,Benguela Current Coastal Province,BENG,2,"[(11.716972846451625, -17.49999999999993), (11..."
3,Coastal,0,Brazil Current Coastal Province,BRAZ,3,"[(-33.49999999999994, -10.499999999999986), (-..."
4,Coastal,0,California Upwelling Coastal Province,CCAL,4,"[(-110.4999999999999, 24.500000000000142), (-1..."
5,Coastal,0,Canary Coastal Province (Eacb),CNRY,5,"[(-16.339471208351284, 11.50000000000017), (-1..."
6,Coastal,0,Central American Coastal Province,CAMR,6,"[(-80.44239450415253, -0.4999999999998437), (-..."
7,Coastal,0,Chile-Peru Current Coastal Province,CHIL,7,"[(-80.49999999999991, -0.37113815817150453), (..."
8,Coastal,0,China Sea Coastal Province,CHIN,8,"[(128.50000000000017, 35.12007487044124), (128..."
9,Coastal,0,E. Africa Coastal Province,EAFR,9,"[(48.50315282529476, -13.499999999999929), (48..."
10,Coastal,0,E. India Coastal Province,INDE,10,"[(97.93498130605207, 14.5000000000001), (97.50..."
11,Coastal,0,East Australian Coastal Province,AUSE,11,"[(154.50000000000006, -33.49999999999986), (15..."
12,Coastal,0,Guianas Coastal Province,GUIA,12,"[(-35.499999999999915, -3.499999999999872), (-..."
13,Coastal,0,Guinea Current Coastal Province,GUIN,13,"[(-15.423893876358505, 11.676106113816118), (-..."
14,Coastal,0,Ne Atlantic Shelves Province,NECS,14,"[(10.979442175876443, 54.38055711363617), (10...."
15,Coastal,0,New Zealand Coastal Province,NEWZ,15,"[(168.56387125325722, -46.5846559852792), (168..."
16,Coastal,0,Nw Arabian Upwelling Province,ARAB,16,"[(39.500000000000114, -7.499999999999872), (39..."
17,Coastal,0,Nw Atlantic Shelves Province,NWCS,17,"[(-82.46583884454364, 27.732907190979688), (-8..."
18,Coastal,0,"Red Sea, Persian Gulf Province",REDS,18,"[(34.57215023320407, 28.09590411683149), (34.6..."
19,Coastal,0,Sunda-Arafura Shelves Province,SUND,19,"[(113.67268557032958, -8.499999999999858), (11..."
20,Coastal,0,Sw Atlantic Shelves Province,FKLD,20,"[(-68.99319897543282, -54.43104492082126), (-6..."
21,Coastal,0,W. India Coastal Province,INDW,21,"[(80.50000000000011, 9.500000000000114), (80.5..."
22,Polar,1,Antarctic Province,ANTA,22,"[(180.0, -57.49999999999979), (180.0, -67.4999..."
23,Polar,1,Atlantic Arctic Province,ARCT,23,"[(-21.513050836786306, 64.64409414795617), (-2..."
24,Polar,1,Atlantic Subarctic Province,SARC,24,"[(11.264715222107696, 63.96082319213352), (11...."
25,Polar,1,Austral Polar Province,APLR,25,"[(-83.49999999999994, -78.49999999999987), (-8..."
26,Polar,1,Boreal Polar Province (Polr),BPLR,26,"[(-161.18425551507818, 63.49999999999986), (-1..."
27,Polar,1,N. Pacific Epicontinental Province,BERS,27,"[(126.68849123028082, 37.83391308730353), (126..."
28,Trades,2,Archipelagic Deep Basins Province,ARCH,28,"[(128.69141422251232, -3.5000449869937285), (1..."
29,Trades,2,Caribbean Province,CARB,29,"[(-82.49999999999997, 27.953462397478688), (-8..."
30,Trades,2,Eastern Tropical Atlantic Province,ETRA,30,"[(9.500000000000114, -12.499999999999858), (8...."
31,Trades,2,Indian Monsoon Gyres Province,MONS,31,"[(80.61032721040414, 9.444718089007381), (80.5..."
32,Trades,2,Indian S. Subtropical Gyre Province,ISSG,32,"[(117.50000000000011, -16.499999999999858), (1..."
33,Trades,2,N. Atlantic Tropical Gyral Province (Trpg),NATR,33,"[(-72.34673390464255, 18.535969182733368), (-7..."
34,Trades,2,N. Pacific Equatorial Countercurrent Province,PNEC,34,"[(-82.49999999999997, 0.5000000000000426), (-8..."
35,Trades,2,N. Pacific Tropical Gyre Province,NPTG,35,"[(-114.4999999999999, 16.500000000000057), (-1..."
36,Trades,2,Pacific Equatorial Divergence Province,PEQD,36,"[(-86.49999999999997, 0.5000000000000426), (-8..."
37,Trades,2,South Atlantic Gyral Province (Satg),SATL,37,"[(-19.499999999999886, -6.499999999999986), (-..."
38,Trades,2,W. Pacific Warm Pool Province,WARM,38,"[(-175.49999999999994, 1.5000000000001137), (-..."
39,Trades,2,Western Tropical Atlantic Province,WTRA,39,"[(-19.499999999999886, -6.499999999999986), (-..."
40,Westerlies,3,Gulf Stream Province,GFST,40,"[(-43.5, 43.50000000000003), (-43.5, 42.500000..."
41,Westerlies,3,Kuroshio Current Province,KURO,41,"[(124.74986703645351, 10.5000000000001), (124...."
42,Westerlies,3,"Mediterranean Sea, Black Sea Province",MEDI,42,"[(34.98966169213139, 29.500000000000142), (34...."
43,Westerlies,3,N. Atlantic Drift Province (Wwdr),NADR,43,"[(-11.499999999999886, 57.50000000000006), (-1..."
44,Westerlies,3,N. Atlantic Subtropical Gyral Province (East) ...,NASE,44,"[(-19.499999999999886, 25.500000000000142), (-..."
45,Westerlies,3,N. Atlantic Subtropical Gyral Province (West) ...,NASW,45,"[(-39.499999999999915, 25.500000000000057), (-..."
46,Westerlies,3,N. Pacific Polar Front Province,NPPF,46,"[(156.5, 34.50000000000003), (155.500000000000..."
47,Westerlies,3,N. Pacific Subtropical Gyre Province (West),NPSW,47,"[(-175.49999999999994, 28.50000000000017), (-1..."
48,Westerlies,3,Pacific Subarctic Gyres Province (East),PSAE,48,"[(-134.49999999999994, 50.50000000000014), (-1..."
49,Westerlies,3,Pacific Subarctic Gyres Province (West),PSAW,49,"[(148.54025737372314, 45.44776908500796), (148..."
50,Westerlies,3,S. Pacific Subtropical Gyre Province,SPSG,50,"[(174.79553431438694, -37.02305590229166), (17..."
51,Westerlies,3,S. Subtropical Convergence Province,SSTC,51,"[(180.0, -41.49999999999986), (179.50000000000..."
52,Westerlies,3,Subantarctic Province,SANT,52,"[(-69.16417186341673, -54.51973098872139), (-6..."
53,Westerlies,3,Tasman Sea Province,TASM,53,"[(174.50000000000006, -35.891554686677495), (1..."

In [9]:
def is_in_polygon(row):
    pnt = Point(row.lon, row.lat)
    dist_dict = {}
    for pcat, coords in zip (dl.ProvCat, dl.coords):
        poly = Polygon(coords)
        if pnt.within(poly):
            return pcat
        else:
            dist_dict[pcat] = poly.distance(pnt)
    return min(dist_dict, key=dist_dict.get)

In [10]:
d_aop.insert(5, 'ProvCat', d_aop.apply(is_in_polygon,axis=1))

In [35]:
d_aop.drop('BiomCat', axis=1, inplace=True)

In [37]:
pd.merge(dl[['ProvCat', 'Biome', 'BiomCat',]], d_aop[['ProvCat']],
                                 on='ProvCat')[['Biome', 'BiomCat']]

           Biome  BiomCat
0        Coastal        0
1        Coastal        0
2        Coastal        0
3        Coastal        0
4        Coastal        0
5        Coastal        0
6        Coastal        0
7        Coastal        0
8        Coastal        0
9        Coastal        0
10       Coastal        0
11       Coastal        0
12       Coastal        0
13       Coastal        0
14       Coastal        0
15       Coastal        0
16       Coastal        0
17       Coastal        0
18       Coastal        0
19       Coastal        0
20       Coastal        0
21       Coastal        0
22       Coastal        0
23       Coastal        0
24       Coastal        0
25       Coastal        0
26       Coastal        0
27       Coastal        0
28       Coastal        0
29       Coastal        0
...          ...      ...
4429  Westerlies        3
4430  Westerlies        3
4431  Westerlies        3
4432  Westerlies        3
4433  Westerlies        3
4434  Westerlies        3
4435  Westerlies        3
4436  Westerlies        3
4437  Westerlies        3
4438  Westerlies        3
4439  Westerlies        3
4440  Westerlies        3
4441  Westerlies        3
4442  Westerlies        3
4443  Westerlies        3
4444  Westerlies        3
4445  Westerlies        3
4446  Westerlies        3
4447  Westerlies        3
4448  Westerlies        3
4449  Westerlies        3
4450  Westerlies        3
4451  Westerlies        3
4452  Westerlies        3
4453  Westerlies        3
4454  Westerlies        3
4455  Westerlies        3
4456  Westerlies        3
4457  Westerlies        3
4458  Westerlies        3

[4459 rows x 2 columns]

In [38]:
d_aop.insert(5, 'BiomCat', pd.merge(dl[['ProvCat', 'BiomCat',]], d_aop[['ProvCat']],
                                 on='ProvCat').BiomCat)

In [39]:
d_aop.insert(5, 'Biome', pd.merge(dl[['ProvCat', 'Biome']], d_aop[['ProvCat']],
                                 on='ProvCat').Biome)

In [41]:
d_aop.head()

,id,datetime,doy,lat,lon,Biome,BiomCat,ProvCat,etopo2,bathymetry,...,rrs411,rrs443,rrs489,rrs510,rrs555,rrs670,fluo_chl,hplc_chl,is_hplc,chl
0,1565,2003-04-15 15:15:00,105.875000,38.4279,-76.61,Coastal,0,17,0.0,-3.044,...,0.001204,0.001686,0.003293,0.004036,0.007479,0.003465,38.19,NaN,0.0,38.19
1,1566,2003-04-15 16:50:00,106.500000,38.3680,-76.50,Coastal,0,17,0.0,-10.440,...,0.001062,0.001384,0.002173,0.002499,0.004152,0.001695,35.01,NaN,0.0,35.01
2,1567,2003-04-15 17:50:00,106.541667,38.3074,-76.44,Coastal,0,17,1.0,-8.956,...,0.000971,0.001185,0.001843,0.002288,0.004246,0.001612,26.91,NaN,0.0,26.91
3,1568,2003-04-17 18:15:00,108.000000,38.6367,-76.32,Coastal,0,17,3.0,-10.008,...,0.001472,0.001741,0.002877,0.003664,0.006982,0.003234,47.96,NaN,0.0,47.96
4,1559,2003-07-21 18:27:00,203.200000,38.3047,-76.44,Coastal,0,17,1.0,-9.118,...,0.000905,0.001022,0.001506,0.001903,0.002801,0.001791,23.55,NaN,0.0,23.55

In [42]:
d_aop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Data columns (total 27 columns):
id              4459 non-null object
datetime        4459 non-null datetime64[ns]
doy             4459 non-null float64
lat             4459 non-null float64
lon             4459 non-null float64
Biome           4459 non-null object
BiomCat         4459 non-null int8
ProvCat         4459 non-null int64
etopo2          4459 non-null float64
bathymetry      4459 non-null float64
oisst           4459 non-null float64
wtemp           1235 non-null float64
woa_sst_mean    2516 non-null float64
woa_sst_se      2516 non-null float64
sal             672 non-null float64
woa_sal_mean    2511 non-null float64
woa_sal_se      2511 non-null float64
rrs411          4293 non-null float64
rrs443          4456 non-null float64
rrs489          4422 non-null float64
rrs510          4207 non-null float64
rrs555          4453 non-null float64
rrs670          3905 non-null float64
fluo_chl        3392 non-null float64
hplc_chl        1381 non-null float64
is_hplc         4127 non-null float64
chl             4127 non-null float64
dtypes: datetime64[ns](1), float64(22), int64(1), int8(1), object(2)
memory usage: 910.2+ KB

In [43]:
d_aop.ProvCat.value_counts()

25    1175
17     703
4      556
47     377
29     209
45     172
33     125
37     118
46     114
12      84
39      79
44      68
2       67
16      65
23      58
27      42
31      38
41      37
38      37
36      32
24      31
35      27
30      27
22      24
26      22
42      16
20      13
50      13
3       12
15      12
32      12
52      11
7       11
14      10
5       10
9        9
0        8
19       7
43       6
40       5
34       5
8        5
51       4
48       2
10       1
Name: ProvCat, dtype: int64

In [44]:
d_aop.Biome.value_counts()

Coastal       1573
Polar         1352
Westerlies     825
Trades         709
Name: Biome, dtype: int64

In [45]:
d_aop.to_pickle('./pickleJar/dfNomad_AOP.pkl')

For reference here is the longhurst map. The number here is +1 relative to the breakdown 2 cells up.
<img src="./figJar/lhurstbiogeog.jpg">