In [17]:
import pathlib
import re

import pandas as pd
import numpy as np

In [24]:
home=pathlib.Path.home()
data_path = home /'DATA/OceanColor/dfNomadRaw.pkl'
data_path2 = home/'DATA/OceanColor/JeremyOCx_data'
df1 = pd.read_pickle(data_path)
df2 = pd.read_pickle(data_path2)

In [25]:
df1.fillna('-999', inplace=True)

In [28]:
df1.replace('-999', np.NaN, inplace=True)

In [29]:
df1[['chl', 'chl_a']].head()

     chl chl_a
0  38.19   NaN
1  35.01   NaN
2  26.91   NaN
3  47.96   NaN
4  23.55   NaN

In [30]:
df1[['chl', 'chl_a']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Data columns (total 2 columns):
chl      3392 non-null object
chl_a    1381 non-null object
dtypes: object(2)
memory usage: 69.8+ KB

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Columns: 212 entries, lat to Datetime
dtypes: datetime64[ns](1), object(211)
memory usage: 7.2+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483 entries, 0 to 2482
Data columns (total 54 columns):
cruise      2483 non-null object
lat         2483 non-null object
lon         2483 non-null object
type        2483 non-null object
chl         2483 non-null object
rrs443      2483 non-null object
rrs489      2483 non-null object
rrs510      2483 non-null object
rrs555      2483 non-null object
rrs670      2483 non-null object
rrs469      2483 non-null object
rrs486      2483 non-null object
rrs516      2483 non-null object
rrs520      2483 non-null object
rrs547      2483 non-null object
rrs550      2483 non-null object
rrs560      2483 non-null object
rrs565      2483 non-null object
rrs411      2483 non-null object
Sdg         2483 non-null object
adg405      2483 non-null object
adg411      2483 non-null object
adg443      2483 non-null object
adg489      2483 non-null object
adg510      2483 non-null object
adg530      2483 non-null object
adg555      2483 non-null object
eta         2483 non-null object
bbp405      2483 non-null object
bbp411      2483 non-null object
bbp443      2483 non-null object
bbp489      2483 non-null object
bbp510      2483 non-null object
bbp530      2483 non-null object
bbp555      2483 non-null object
aph405      2483 non-null object
aph411      2483 non-null object
aph443      2483 non-null object
aph489      2483 non-null object
aph510      2483 non-null object
aph530      2483 non-null object
aph555      2483 non-null object
aph670      2483 non-null object
aph683      2483 non-null object
zeu         2483 non-null object
kpar        2483 non-null object
kd405       2483 non-null object
kd411       2483 non-null object
kd443       2483 non-null object
kd489       2483 non-null object
kd510       2483 non-null object
kd530       2483 non-null object
kd555       2483 non-null object
Datetime    2483 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(53)
memory usage: 1.0+ MB

In [20]:
cols = dfJeremy.columns.tolist()

In [8]:
df2.columns.tolist()

['cruise',
 'lat',
 'lon',
 'type',
 'chl',
 'rrs443',
 'rrs489',
 'rrs510',
 'rrs555',
 'rrs670',
 'rrs469',
 'rrs486',
 'rrs516',
 'rrs520',
 'rrs547',
 'rrs550',
 'rrs560',
 'rrs565',
 'rrs411',
 'Sdg',
 'adg405',
 'adg411',
 'adg443',
 'adg489',
 'adg510',
 'adg530',
 'adg555',
 'eta',
 'bbp405',
 'bbp411',
 'bbp443',
 'bbp489',
 'bbp510',
 'bbp530',
 'bbp555',
 'aph405',
 'aph411',
 'aph443',
 'aph489',
 'aph510',
 'aph530',
 'aph555',
 'aph670',
 'aph683',
 'zeu',
 'kpar',
 'kd405',
 'kd411',
 'kd443',
 'kd489',
 'kd510',
 'kd530',
 'kd555',
 'Datetime']

In [38]:
dfJeremy.columns

Index(['cruise', 'lat', 'lon', 'type', 'chl', 'rrs443', 'rrs489', 'rrs510',
       'rrs555', 'rrs670', 'rrs469', 'rrs486', 'rrs516', 'rrs520', 'rrs547',
       'rrs550', 'rrs560', 'rrs565', 'rrs411', 'Sdg', 'adg405', 'adg411',
       'adg443', 'adg489', 'adg510', 'adg530', 'adg555', 'eta', 'bbp405',
       'bbp411', 'bbp443', 'bbp489', 'bbp510', 'bbp530', 'bbp555', 'aph405',
       'aph411', 'aph443', 'aph489', 'aph510', 'aph530', 'aph555', 'aph670',
       'aph683', 'zeu', 'kpar', 'kd405', 'kd411', 'kd443', 'kd489', 'kd510',
       'kd530', 'kd555', 'Datetime', 'mxBl2GrSwf'],
      dtype='object')

In [105]:
def GetBandsRe(startswith='rrs'):
    return re.compile('^%s([0-9]+)' % startswith)

def GetBands(reFinder, sort=True):
    bandlist = [reFinder.findall(c)[0] for c in cols if reFinder.findall(c)]
    if sort:
        bandlist.sort()
    return bandlist

def GetSingleBandDataFrame(df, band):
    return df.filter(regex='([\w]+%d)' % band)

In [39]:
rrsbands = GetBands(GetBandsRe())
adgbands = GetBands(GetBandsRe('adg'))
aphbands = GetBands(GetBandsRe('aph'))
bbpbands = GetBands(GetBandsRe('bbp'))

In [48]:
# finding common bands
commonbands = list(set(rrsbands).intersection(adgbands).intersection(aphbands).intersection(bbpbands))
commonbands.sort()
commonbands

['411', '443', '489', '510', '555']

In [50]:
# FROM IDL routines get_aw.pro and get_bw.pro
aw = {405: 0.00545821, 411: 0.00471065, 443: 0.00709810, 489: 0.0149089,
      510: 0.0325987, 530: 0.0435704, 555: 0.0596488, 670: 0.440188, 
      683: 0.479974
     }
bw = {405: 0.00360145, 411: 0.00337976, 443: 0.00244466, 489: 0.00159540,
      510: 0.00133039, 530: 0.00112671, 555: 0.000923288, 670: 0.000409298,
      683: 0.000376691
     }

In [57]:
for band in commonbands:
    dfJeremy['a%s' % band] = dfJeremy['aph%s' % band] +\
                             dfJeremy['adg%s' % band] + \
                             aw[int(band)]
    dfJeremy['bb%s' % band] = dfJeremy['bbp%s' % band] + bw[int(band)]

In [86]:
filterString = '^(([a-b][\w]*|rrs)(' + '|'.join(commonbands) +')|chl|type)'
filterString

'^(([a-b][\\w]*|rrs)(411|443|489|510|555)|chl|type)'

In [87]:
dfJeremy.filter(regex=filterString).columns

Index(['type', 'chl', 'rrs443', 'rrs489', 'rrs510', 'rrs555', 'rrs411',
       'adg411', 'adg443', 'adg489', 'adg510', 'adg555', 'bbp411', 'bbp443',
       'bbp489', 'bbp510', 'bbp555', 'aph411', 'aph443', 'aph489', 'aph510',
       'aph555', 'a411', 'bb411', 'a443', 'bb443', 'a489', 'bb489', 'a510',
       'bb510', 'a555', 'bb555'],
      dtype='object')

In [92]:
dfGIOP = dfJeremy.filter(regex=filterString)

In [93]:
for b in commonbands:
    rrs = dfGIOP['rrs%s' %b]
    dfGIOP['rrs%ssub' %b] = rrs / (0.52 + 1.7 *rrs)

In [124]:
dfGIOP.to_pickle('./pickleJar/dfGIOP.pkl')
dfJeremy.to_pickle('./pickleJar/dfJeremy.pkl')